{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FSH</title>
  <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
  <div class="name-bar">
    <h1><img src="{% static 'images/logo2.png' %}"class='logo-img'> </h1>
  </div>


<div class="top-bar">
  
    {% if user.is_authenticated %}
      <div class="profile-container">
        <img src="{% static 'images/profile.png' %}" alt="Profile Image" class="profile-img">
        <a href="{% url 'logout' %}" class="login-button">Logout</a>
      </div>
    {% else %}
      <div class="profile-container">
        <img src="{% static 'images/profile.png' %}" alt="Guest Profile" class="profile-img">
        <a href="{% url 'login' %}" class="login-button">Login</a>
      </div>
    {% endif %}
  </div>
  
  <div class="main-content">

    <div class="top-section">
      <section>
      <img src="{% static 'images/fish.png' %}" alt="Fish" class="fish-img">
      </section>
      <button onclick="move()" class="top-button">Level 1</button>
      <div id="myProgress">
        <div id="myBar"></div>
      </div>
    </div>

  <div class="bottom-buttons">
    <button class="button-card">Calender</button>
    <a href="{% url 'todoPage' %}" class="button-card">To-Do List</a>
    <button class="button-card">Study Timer</button>
  </div>

</div>
  

  <script src="{% static 'styles/script.js' %}"></script>
</body>
</html>
